.Rproj.user
.Rhistory
.RData
.Ruserdata
output/figures/diagnosis/
output/figures/hospitalization/
output/figures/seizure/
output/results/diagnosis/
output/results/hospitalization/
output/results/seizure/